@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*@if (User.IsInRole("Admin"))
    {

    }*@
    <ul>
        <li class="nav-item"><a class="manage-link" id="two-factor" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
    </ul>
</div>
