<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Booking Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinemaUI.styles.css" asp-append-version="true" />
</head>
<body class="admin-body">
    <header class="header-admin">
        <nav class="">
           
                <a class="navbar-admin" asp-area="" asp-controller="Home" asp-action="Index"><span class="brand">Cinema</span>Booking Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
           
        </nav>
    </header>
    <h2 class="ms-2">Admin panel manager</h2>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <ul class="manage-list">
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index"><div class="manage-link-div">Overview</div></a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Roles" asp-action="Index"><div class="manage-link-div">Roles</div></a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Movies" asp-action="Index"><div class="manage-link-div">Movies</div></a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Tickets" asp-action="Index"><div class="manage-link-div">Tickets</div></a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Seances" asp-action="Index"><div class="manage-link-div">Seances</div></a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Propositions" asp-action="Index"><div class="manage-link-div">Propositions</div></a></li>
            </ul>
        </div>
        <div class="col-md-10 ">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
