:root {
    --brand: #228a8a;
    --brand-light: #5ca8a8;
    --brand-secondary: #a87425;
    --primary: #ffffff;
    --background: #2a2a30;
    --red: rgb(250, 68, 68);
    --red-light: rgb(250, 104, 104);
    --green: rgb(35, 188, 43);
    --green-light: rgb(153, 250, 104);
    --body: rgb(19, 19, 32);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body::-webkit-scrollbar {
    width: 0px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
button {
    cursor: pointer;
}
/* body {
  margin-bottom: 60px;
} */
body {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  background-color: var(--body);
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
    text-decoration: none;
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
img {
  width: 100%;
 
  display: block;
}
.containerr {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
}
.wrapper{
    display:flex;
    gap:50px;

}
.header{
    background-color:var(--background);
}

.main-content{
    max-width:100%;
    flex:1;
}
.center-block{
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    gap:15px;
}
.section-title {
    color: var(--primary);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.header-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}
.nav-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}
.nav-users {
  display: flex;
  gap: 24px;
  align-self: center;
}
.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--primary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 0.5s ease-in-out;
}
    .nav-link.btn-icon {
        background-color: inherit;
        border: none;
    }
.nav-link:hover,
.nav-link:focus {
  color: var(--brand);
}
.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding: 5px 0;
}
.logo-span {
    color: var(--brand);
    transition: .5s ease-in-out;
}
.color-brand {
    color: var(--brand);
}
.color-primary {
    color: var(--primary);
}
.logo-span2 {
    color: var(--primary);
    transition: .5s ease-in-out;
}
.logo:hover .logo-span {
    color: var(--primary);
    transform: scale(1.2);
}
.logo:hover .logo-span2 {
    color: var(--brand);
    transform: scale(1.2);
    margin-left: 10%;
}

.icon {
  fill: var(--primary);
  transition: fill 0.5s ease-in-out;
}
.icon:hover,
.icon:focus {
  fill: var(--brand);
}
.icon {
  width: 25px;
  height: 25px;
}

.main {
  margin-bottom: auto;
}
/* footer */
.footer {
  max-width: 100%;
  max-height: 100%;
  padding: 32px 0;
  background-color: var(--brand);
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .section-title {
  color: white;
  text-align:left;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap:8px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.translucent {
    font-size: 16px;
    
}

.slideshow-container {
    position: relative;
    margin: auto;
    box-shadow: 0px 0px 60px -10px #2EB2A0;
}

.hero {
    padding: 32px 20px;
}

/* /////////////////// */
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* form */

.register-form-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px 0;
  align-items: baseline;
  justify-content: center;
}

.form-input {
  width: 300px;
  border-radius: 2px;
  border: 1.5px solid grey;
  background-color: transparent;
  padding: 14px 24px;
  transition: border-color 250ms;
  margin-right: 40px;
  color:var(--primary);
  margin-bottom:5px;
}
.form-input:active,
.form-input:focus {
  border-color: #111;
}
.submit-btn {
  color: var(--primary);
  background-color: var(--brand);
  border: none;
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.21;
}

.line-decor {
  background-color: var(--primary);
}

p.hint a {
    color: var(--primary);
}

    p.hint a:active,
    p.hint a:focus,
    p.hint a:hover {
        color: var(--brand);
    }
.text-danger{
    color:var(--red);
}
/* ///////// */
/* card */
.products-cards {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 40px;
}
    .products-cards .card-img .hero-img {
        width: 125px;
        height: 125px;
        object-fit: cover;
    }
.card-img {
    max-width: 125px;
    height:50%;
    margin-bottom:5px;
}

.card-container {
    flex-basis: calc((100% - 100px) / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    gap: 10px;
    background-color: var(--primary);
    height: 305px;
    transition: transform 0.4s ease-in-out;
}
    .card-container:hover {
        transform: scale(1.05);
    }

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}


.product-name {
    text-align: center;
    text-transform: uppercase;
    color: var(--background);
}
.product-description {
    color: var(--background);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-link {
  margin-left: auto;
  color: #258cfb;
  text-decoration: underline;
  transition: color 0.5s ease-in-out;
  margin-bottom: 8px;
}
.product-link:hover,
.product-link:focus,
.product-link:active {
  color: blue;
}

.card-tags {
  display: flex;
  justify-content: space-around;
}

.product-price {
  padding: 3px 10px;
  background-color: var(--brand);
  color: var(--primary);
  font-weight: 700;
  border-radius: 2px;
  margin-top: 2vh;
}

.btn-open-product {
    padding: 3px 10px;
    background-color: rgb(59, 181, 59);
    color:  var(--primary);
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* /////////////////// */
/* cataloge aside */
.cataloge-aside {
    padding: 20px;
    max-height: 100%;
    background-color: var(--background);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
}

.cataloge-list-item {
    padding: 5px;
    border: 1px solid var(--primary);
    margin-bottom: 25px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    background-color: var(--brand);
}

.cataloge-list-link {
    text-transform: capitalize;
    font-weight: 700;
    display:flex;
    align-items:center;
}

.cataloge-list-item:hover {
    background-color: var(--brand-light);
}
.cataloge-list-img{
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:10px;
}
/*  */
.description-cont {
    max-width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    background-color: var(--background);
}
    .description-cont p {
        font-size:18px;
        color: var(--primary);
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.02em;
        
    }
.description-cont-title{
    font-size:22px;
    color:var(--primary);
    font-weight:600;
    line-height:1.1;
    letter-spacing:-0.02em;
    margin-bottom:20px;
    text-align:center;
}

/* product page */
.product-page {
    max-width: 100%;
    width: 1440px;
    padding: 40px;
}

.product-title {
    color: var(--primary);
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-nav-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

    .product-nav-list li a {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
    }

        .product-nav-list li a:hover {
            color: var(--brand);
        }

.product-nav {
    border-bottom: 1px solid var(--primary);
    padding: 15px 10px;
}

.product-box {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.product-img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid var(--primary);
    width: 30%;
    height: 30%;
    object-fit: fill;
}

.product-main-descriprion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px var(--primary);
    padding: 40px 150px;
}

.product-main-price {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.comment-btn {
    background-color: var(--brand);
    padding: 14px 24px;
    font-size: 24px;
    border-radius: 50px;
}
.product-main-btn {
    background-color: var(--brand);
    padding: 15px 45px;
    font-size: 34px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

    .product-main-btn:hover {
        background-color: var(--brand-light);
        color: var(--background);
    }

.product-page > div {
    padding: 40px;
    background-color: var(--background);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
   
}

.product-main-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
}
.comments-block {
    display: flex;
    justify-content: space-around;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.comment {
    font-weight: 600;
    max-width: 100%;
}

    .comment span {
        font-weight: 400;
        margin-left: 20px;
    }

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label-comment {
    font-size: 20px;
}

.comment-text {
    resize: none;
    background-color: var(--background);
    color: var(--primary);
    word-wrap: break-word;
}

.comment-btn {
    border-radius: 4px;
    padding: 10px 0;
}
/* ////////////////////////////// */
table.characteristics-table,
.characteristics-table td {
    border: 1px solid;
}

table.characteristics-table {
    border-collapse: collapse;
    font-size: 20px;
}

.characteristics-table caption {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.characteristics-table td {
    padding: 5px;
}

/* ////////////////////// */
/* catalog */

.catalog-page {
    max-width: 100%;
    width: 1440px;
    padding: 100px;
}

.catalog {
    
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 35px;
}

.catalog-category {
    flex-basis: calc((100% - 4px) / 3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    padding: 40px 40px;
    text-align: center;
    background-color: var(--background);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.catalog-category:hover .category-title {
}

.catalog-category:hover {
    background-color: var(--brand);
    transform: scale(1.2);
}

.category-main-title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 28px;
    text-transform: uppercase;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        color: var(--primary);
    }

    50% {
        color: var(--brand);
    }

    100% {
        color: var(--primary);
    }
}

.catalog-recommendation {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 24px;
    text-transform: capitalize;
}

.products-cards-title {
    margin-bottom: 15px;
    font-size: 18px;
    display: block;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

    .products-cards-title:hover,
    .products-cards-title:focus,
    .products-cards-title:active {
        color: var(--brand);
    }
/* /////////////////////// */
/* ///////////PC BUILDER/////////// */
.pc-builder-title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 28px;
    text-transform: uppercase;
    animation: colorChange 5s infinite;
    color: var(--background);
}

.table-pc-builder {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: var(--background);
    border: none;
}

    .table-pc-builder th {
        border: 1px solid var(--primary);
        padding: 20px;
        text-transform: uppercase;
    }

    .table-pc-builder thead {
        background-color: var(--brand);
    }

.item td:not(:first-child) {
    text-align: center;
}

.item td {
    border-bottom: 1px solid var(--primary);
}

.pc-builder-page-link {
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

    .pc-builder-page-link:hover,
    .pc-builder-page-link:focus,
    .pc-builder-page-link:active {
        color: var(--brand);
    }

.comp-img-block {
    padding: 8px;
    transition: transform 0.4s ease-in-out;
}

    .comp-img-block:hover {
        transform: scale(1.5);
    }

.comp-title {
    font-weight: 500;
}

.comp-price {
    font-weight: 600;
    font-size: 20px;
}

.btn-conp-link {
    border: 1px solid var(--primary);
    background-color: var(--brand);
    padding: 5px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

    .btn-conp-link:hover {
        background-color: var(--brand-light);
    }

.btn-remove-comp {
    text-transform: capitalize;
    background-color: var(--red);
    border-radius: 5px;
    padding: 5px 15px;
    transition: background-color 0.3s ease-in-out;
}

    .btn-remove-comp:hover {
        background-color: var(--red-light);
    }

.item.last {
    background-color: var(--primary);
    color: var(--background);
}

    .item.last td {
        padding: 10px;
    }

.comp-price.total {
    font-weight: 400;
    font-style: italic;
}

.btn-add-pc-order {
    background-color: var(--brand);
    padding: 10px 90px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

    .btn-add-pc-order:hover {
        background-color: var(--brand-light);
    }

/* empty */
.item td {
    padding: 15px;
}

.btn-add-comp {
    border-radius: 5px;
    background-color: var(--green);
    text-transform: uppercase;
    padding: 5px 5px;
    text-wrap: nowrap;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

    .btn-add-comp:hover {
        background-color: var(--green-light);
    }
/* ///////////////////////////////// */
/* ///////////  manage  /////////// */
.wrapper-manage-list {
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 30px;
    margin-top:15px;
}

.manage-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

    .manage-list .nav-item {
        background-color: var(--brand);
        width: 100%;
        text-align: center;
        border-radius: 10px;
        text-transform: uppercase;
        
        box-sizing: border-box;
        transition: background-color 0.1s ease-in-out;
    }

.manage-link {
    font-weight: 500;
    font-size: 18px;

}
.manage-link-div {
    width: 100%;
    padding: 24px 0;
}


.manage-list .nav-item:hover {
    background-color: var(--brand-light);
}

.manage-active-section{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:10px;
}
.manage-btn{
    width:100%;
    padding:5px;
    text-align:center;
    margin-top:10px;
    border:none;
    border-radius:10px;
    text-transform:uppercase;
}
.manage-btn-a {
    display:block;
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color:var(--red);
}
/* ///////////////////////////////// */
/* ////////////// Card page //////////////*/
.card-page-content {
    background: linear-gradient(45deg, #232526 0%, #414345 100%);
    padding: 20px;
    margin-bottom: 30px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

    .product-item img {
        max-width: 100px;
        max-height: 100px;
    }

.card-name-product {
    margin-bottom: 10px;
}

.crad-btn-div {
    display: flex;
    gap: 20px;
    align-items:center;
}

.card-btn {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
}

    .card-btn.add {
        background-color: var(--green);
        transition: background-color 0.3s ease-in-out;
    }

        .card-btn.add:hover {
            background-color: var(--green-light);
        }

    .card-btn.remove {
        background-color: var(--red);
        transition: background-color 0.3s ease-in-out;
    }

        .card-btn.remove:hover {
            background-color: var(--red-light);
        }

.card-order-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.card-orders-block {
    margin-bottom: 20px;
}

.order-form {
    background: linear-gradient(45deg, #232526 0%, #414345 100%);
    padding: 20px;
    margin-bottom: 40px;
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
    padding: 30px;
    margin: 0 auto;
}

    .card-form label {
        font-size: 18px;
        font-weight: 500;
    }

    .card-form input,
    .card-form textarea {
        background-color: var(--background);
        color: var(--primary);
        padding: 5px 10px;
        resize: none;
    }

.continue-card {
    margin: 5px auto;
    text-decoration: underline;
    display: block;
    text-align: center;
}
.card-counter {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .card-counter button {
        background-color: inherit;
        border: solid 1px var(--primary);
        width: 20px;
        height: 20px;
        color: var(--primary);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

        .card-counter button:hover {
            background-color: var(--primary);
            color: var(--background);
        }
/* ///////////////////////////////// */
/* ////////////// ADMIN ////////////// */
.admin-body {
    background-color: var(--background);
    padding: 20px;
    color: var(--primary)!important;
}
.header-admin {
    background-color: var(--background);
    padding: 20px;
    text-wrap: nowrap;
    width:100%;
    
}
.header-admin nav {
    display:flex;
    justify-content:space-between;
    align-items:center;

}


.admin-hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--primary);
    opacity: 0.25;
}

.navbar-admin {
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 60%;
}
.navbar-admin:hover{
    color:inherit;
}
.navbar-admin span.brand {
    color: var(--brand);
}
.admin-body .manage-btn{
    margin:0;
}
.admin-btn-back {
    width: 400px;
    display: block;
    background-color: var(--red);
    padding: 40px 70px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .4s ease-in-out;
    border-radius: 10px;
    color: var(--primary);
    font-size: 20px;
}
.admin-btn-back:hover{
    background-color:var(--red-light);
    color:var(--primary);
}
.admin-body .manage-list .nav-item:hover a{
    color:var(--primary)
}
.admin-body .manage-list .nav-item a {
   display:block;
}
.admin-body .table{
    color:var(--primary);
}
.admin-body .table td, .admin-body .table th {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}


.admin-editor-btn{
    display:inline-block;
    background-color:var(--brand);
    padding:5px 10px;
    text-transform:uppercase;
    border-radius:3px;
    transition: color .3s ease-in-out;
}
.admin-editor-btn:hover{
    color:var(--body);
}
    .admin-editor-btn.btn-danger {
        background-color: var(--red);
    }
    .admin-editor-btn.btn-danger:hover {
        background-color: var(--red-light);
    }
.add-btn {
    display: block;
    width: 300px;
    margin-top: 10px;
    background-color: var(--green);
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
}
.add-btn:hover{
    color:inherit;
    background-color: var(--green-light);
}
.add-btn.red {
    background-color: var(--red);
}
.add-btn.create {
    background-color: var(--brand);
}
.add-btn.back {
    background-color: transparent;
    border: solid 1px var(--primary);
    text-align: center;
    color:var(--primary);
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
}
.add-btn.back:hover {
    color: var(--background);
    background-color:var(--primary);
}
.table .add-btn.back{
    margin:0;
}
.control-label{
    text-transform:uppercase;
    font-size:14px;
}
.form-input option {
    background-color:var(--background);
    color:var(--primary);
}
.row.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.td-description-admin {
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-icons-admin {
    position:relative;
}
.admin-search-block{
    display:flex;
    justify-content:space-around;
}
.input-span-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-60%);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary);
}
.input-field.form-input {
    flex:1;
    padding-left: 35px; 
}
.admin-flex-div{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.row.admin .control-label {
    display: block;
    margin-top: 5px;
}


/* ////////////////////////////////////////// */
