.body{
    margin: 0;
  }
  
.schedule-container  {
        justify-content: flex-end;
      background-color: #000;
      /*display: flex;*/
      flex-direction: column;
      color: #fff;
      padding: 30px;
    }  

     .schedule-header {
        align-self: end;
        display: flex;
        /*margin-top: 22px;*/
        max-width: 100%;
        flex-direction: column;
        justify-content: center; /* Center elements horizontally */
    }
  
    .schedule-title {
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(90deg, #f00 0%, #f46201 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font: 900 48px Montserrat, sans-serif;
    }
  
  
    .date-tabs {
      align-self: end;
      display: flex;
      margin-top: 20px;
      max-width: 100%;
      gap: 20px;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.84px;
      line-height: 120%;
    }
  
      .date-tab-today {
        color: #ffffff;
      font-family: Montserrat, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
    }
  
    .date-tab-tomorrow,
    .date-tab-next-week {
        color: #ffffff;
      font-family: Montserrat, sans-serif;
    }
  
    .date-tab-next-week {
        color: #ffe600;
      flex-grow: 1;
      flex-basis: auto;
    }


.schedule-content { 
    display: flex; 
    margin-top: 89px;
     gap: 117px; 
     font-weight: 300; 
    } 

.date-header { 
    align-self: start; 
    display: flex; 
    margin-top: 13px; 
    flex-direction: column; 
    font-size: 48px;  
    font-weight: 300; 
    font-family: Montserrat, sans-serif;

}

.date-header .day-name { 
    /*margin-top: 16px;*/
    font-family: Montserrat, sans-serif;

 } 

.card { 
    
    border-radius: 100px; 
    background-color: #242424; 
    display: flex; 
    align-items: center; 
    font-size: 24px; 
    font-weight: 300;
    /*white-space: nowrap; */
    text-transform: capitalize; 
    letter-spacing: 0.84px; 
    line-height: 120%; 
    justify-content: center; 
   /* flex-grow: 1; 
    flex-basis: 0; 
    width: fit-content; */
    padding: 23px 60px; } 

.movie-schedule { 
    display: flex;
     /*width: 1920px;*/
      max-width: 100%;
       gap: 20px; 
       justify-content: space-between; 
       padding: 0 2px; } 

.movie-item { 
    aspect-ratio: 0.63; 
    object-fit: auto; 
    object-position: center; 
    width: 190px; 
    max-width: 100%; } 

.time-slots { 
    align-self: start; 
    display: flex; 
    flex-direction: column; } 
    
.time-slot { 
    font-variant-numeric: lining-nums tabular-nums; 
    font-family: Montserrat, sans-serif; 
    border-radius: 20px; 
    border-color: rgba(255, 201, 10, 1); 
    border-style: solid; 
    border-width: 1px; 
    justify-content: center; 
    padding: 11px 14px; 
    margin-top: 16px; } 
    
 
    .back-link {
        align-self: center;
        display: flex; 
        margin-top: 90px;
        padding: 33px 28px;
        width: 365px; 
        max-width: 100%; 
        flex-direction: column;
                border-radius: 20px;
        border-image: linear-gradient(to right, #ff0000, #f36600) 1 1 10 stretch; /* Gradient border */
        border: 1px solid #f36600; /* Fallback solid border */
            font: 400 20px Montserrat, sans-serif;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
      }
