@{
    Layout = "_Layout";
}
@model IEnumerable<Cinema.Core.Domain.Entities.CinemaUser>

<h2>Customers List</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-area="Admin" asp-action="Edit" asp-route-userid="@user.Id">Authorization rights</a>
            </td>
        </tr>
    }
</table>